@import './assets/css/vars.css';
@import './assets/css/header.css';
@import './assets/css/machines.css';
@import './assets/css/catalog.css';
@import './assets/css/parameters.css';

html {
  font-family: 'inter', sans-serif;
  font-weight: 400;
}

* {
  scrollbar-color: var(--color-btn);
  scrollbar-width: thin;
  margin: 0;
  padding: 0;
  border: none;
  transition: all 0.3s ease;
}

*, ::before, ::after {
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
}

a, button, li {
  text-decoration: none;
  color: var(--color-text-secondary);
  list-style-type: none;
}


h3 {
  text-transform: uppercase;
  font-size: 1.4vw;
  font-weight: 400;
}

h4 {
  text-transform: uppercase;
  font-size: 0.9vw;
  font-weight: 400;
}
a, button, li:hover, label {
  cursor: pointer;
}

.content {
  margin-top: calc(var(--logo-sz) + 8vw);
  margin-inline: var(--margin-container);
}

.btn {
  background-color: var(--color-btn);
  align-items: center;
  color: var(--color-white);
}

.link {
  color: var(--color-btn);
}

.modal-toggle {
  display: none;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(26, 26, 26, 0.67);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    z-index: 1000;
}

.modal-toggle:checked ~ .modal-overlay {
  opacity: 1;
  visibility: visible;
}

.modal {
  background: var(--color-white);
  border-radius: 0.6vw;
  padding: 2vw;
  max-width: 31vw;
  width: 90%;
  position: relative;
  transform: scale(0.8);
}


.modal-header {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 1.2vw;
}

.modal-header > p {
  font-size: var(--text-primary);
  color: var(--color-secondary);
}

.modal-form {
  display: flex;
  flex-direction: column;
  gap: 0.8vw;
}


.form-group > input, textarea {
  border: 1px solid var(--color-border);
  border-radius: 2.2vw;
  padding: 0.8vw 1.2vw;
  position: relative;
  color: var(--color-secondary);
  font-size: var(--text-primary);
  width: 100%;
  transition: all 0.3s ease-in-out;
  resize: none;
}

.form-group > textarea {
  border-radius: 1.2vw;
}

.form-group > input:focus, textarea:focus {
  border: 1px solid var(--color-btn);
  outline: none;
}

.form-label {
  position: absolute;
  opacity: 0;
  font-size: 16px;
  color: black;
  visibility: hidden;
}

.form-group > input:focus ~ .form-label{
  opacity: 1;
  visibility: visible;
}

.form-group > input[type="email"]:focus {
  border: 2px solid rgb();
}

.form-group > textarea {
  min-height: 6vw;
}

.btn-submit {
  padding: 0.9vw;
  border-radius: 50px;
  font-size: var(--text-primary);
}


.agreement-wrapper {
  display: flex;
  gap: 0.4vw;
  align-items: center;
}

.agreement-wrapper > a {
  color: var(--color-secondary);
}

.agreement-wrapper > input {
  border-radius: 4px;
  height: 2vw;
  width: 2vw;
}

.agreement-wrapper > input[type="checkbox"] {
  accent-color: var(--color-btn);
}

.agree-underline {
  border-bottom: 1px solid var(--color-text-primary);
  color: var(--color-text-primary);
}


/*Модалка media*/

@media (max-width: 768px) {
  .modal-header > h3, .modal-header > p, .form-group > input, .form-group > textarea, .btn-submit {
    font-size: var(--media-text-title);
  }

  .agreement-wrapper > a {
    font-size: var(--media-text-p);
  }

  .agreement-wrapper > input {
    width: 50px;
    height: 50px;
    margin-right: 20px;
  }

  .modal {
    max-width: 95% !important;
    border-radius: 16px;
    padding: 20px;
  }

  .form-group, .form-group > input {
    padding: 10px 10px;
  }

  .btn-submit {
    padding: 16px 24px;
  }

}