@import 'vars.css';

.catalog-wrapper {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.catalog-list__name {
  font-size: 1.2vw;
  text-transform: uppercase;
}

.btn-catalog {
  font-size: var(--text-primary);
  padding: 0.8vw;
  border-radius: 8px;
}

.btn-catalog:hover {
  transform: scale(1.01);
}

.link-catalog {
  font-size: var(--text-primary);
}

/*ACCORDION*/
.catalog-accordion__wrapper{
  display: flex;
  flex-direction: column;
}

.catalog-accordion__title {
  border-top: 1px solid var(--color-border);
  display: flex;
  gap: 2vw;
  padding: 0.8vw 0;
  align-items: center;
}

.catalog-accordion__number {
  font-size: 0.8vw;
  color: var(--color-text-primary);
}

.catalog-accordion__name {
  font-size: 1vw;
  color: var(--color-text-primary);
  text-transform: uppercase;
  width: 100%;
}

.catalog-accordion__amount {
  font-size: 0.8vw;
  color: var(--color-secondary);
  width: 100%;
}

.catalog-accordion__content {
  padding: 0.8vw 2.3vw 2.6vw 2.3vw;
}

.catalog-accordion__content__description {
  font-size: var(--text-primary);
  color: var(--color-secondary);
  width: 45%;
  overflow-wrap: break-word;
  margin-bottom: 0.6vw;
}


.arrow {
  position: relative;
  background-color: var(--color-btn);
  padding: 0.8vw;
  border-radius: 0.3vw;
}
.arrow-item {
  position: absolute;
  top: 0.7vw;
  right: 0.6vw;
  content: "";
  display: block;
  width: 0.4vw;
  height: 0.4vw;
  border-right: 1px solid var(--color-white);
  border-bottom: 1px solid var(--color-white);
  transform: rotate(-135deg);
  transform-origin: center;
}

.catalog-accordion__item[open] > .catalog-accordion__title > .arrow > .arrow-item {
  transform: rotate(45deg);
  top: 0.5vw;
  border-right: 1px solid var(--color-btn);
  border-bottom: 1px solid var(--color-btn);
}

.catalog-accordion__item[open] > .catalog-accordion__title > .arrow {
  background-color: var(--color-white);
  border: 1px solid var(--color-border);
}

@media (max-width: 768px) {
  .catalog-accordion__number, .catalog-accordion__name, .btn-catalog {
    font-size: var(--media-text-primary);
  }

  .catalog-accordion__content__description, .link-catalog {
    font-size: var(--media-text-p);
    width: 100%;
  }

  .catalog-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .catalog-list__name {
    margin-bottom: 16px;
    font-size: var(--media-text-title);
  }

  .catalog-accordion__wrapper {
    width: 100%;
  }

  .catalog-accordion__item {
    padding: 24px 0;
  }

  .catalog-accordion__amount {
    display: none;
  }

  .arrow {
    width: 50px;
    height: 35px;
    border-radius: 5px;
  }

  .arrow-item {
    width: 8px;
    height: 8px;
    top: 18px;
    left: 16.5px;
  }

  .arrow-item[open] {
    top: 15px;
    left: 100px;
  }

  .btn-catalog {
    padding: var(--media-btn-padding-block) var(--media-btn-padding-inline);
  }
}