@import 'vars.css';

.catalog-wrapper {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.catalog-list__name {
  font-size: 1.2vw;
  text-transform: uppercase;
}

.catalog-list__info {
  display: flex;
  flex-direction: column;
}

.catalog-item {
  border-top: 1px solid var(--color-border);
  display: flex;
  gap: 2vw;
  padding: 0.8vw 0;
  align-items: center;
}

.catalog-item__number {
  font-size: 0.8vw;
  color: var(--color-text-primary);
}

.catalog-item__name {
  font-size: 1vw;
  color: var(--color-text-primary);
  text-transform: uppercase;
  width: 100%;
}

.catalog-item__amount {
  font-size: 0.8vw;
  color: var(--color-secondary);
  width: 100%;
}

.btn-accordion {
  text-align: center;
  padding: 0.5vw 0.5vw;
  border-radius: 8px;
}

.btn-accordion > img {
  position: relative;
  top: -0.1vw;
  max-width: 0.8vw;
  max-height: 0.5vw;
}

.btn-catalog {
  font-size: 0.8vw;
  padding: 0.8vw;
  border-radius: 8px;
}
