@import 'vars.css';

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background: var(--color-white);
  margin-top: 1.4vw;
  margin-bottom: 88px;
  margin-inline: var(--margin-container);
}

.container {
  max-width: 1747px;
  width: 100%;
  margin: 0 auto;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
  align-items: center;
}

/*HEADER RIGHT*/
.header-company-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 56px;
}

.header__logo {
  display: flex;
  justify-content: space-between;
  gap: 17px;
  align-items: center;
}

.header__logo__name {
  font-size: 24px;
  font-weight: 500;

  color: var(--color-text-secondary);
  text-transform: uppercase;
}
.header__nav {
  display: flex;
  justify-content: space-between;
  align-content: center;
  gap: 8px;
}

.header__nav__item {
  text-align: center;
  border: 1px solid var(--color-border);
  border-radius: 50px;
  padding: 13px 24px;
}


/*HEADER LEFT*/

.header-info-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}

.header-info__lang {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
}

.header-lang__arrow {
  width: 100%;
  height: 100%;
}

.header-social{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4px;
}

.header-social__item {
  border-radius: 50%;
  background: var(--color-border-bg);
  width: 48px;
  height: 48px;
  padding: 12px;
}

.header-social__item > img {
  max-width: 100%;
  max-height: 100%;
}

.btn-bid {
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  gap: 24px;
  border-radius: 50px;
  padding: 8px 8px 8px 24px;
}


.btn-arrow{
  padding: 10px;
  background: var(--color-white);
  border-radius: 50%;

}


.header-lang__text, .header-info-wrapper {
  color: var(--color-text-secondary);
}

@media (min-width: 768px) and (max-width: 1747px) {
  .header__logo > img {
    width: 4.5vw;
    height: 3vw;
  }

  .header__logo__name {
    font-size: var(--logo-sz);
  }

  .header-lang__text, .header-info__phone, .btn-bid > span, .header__nav__item{
    font-size: 0.9vw;
  }

  .header__nav__item {
    padding: 0.7vw 1.4vw;
  }

  .header-social__item {
    width: 3vw;
    height: 3vw;
    padding: 0.7vw;
  }

  .header-social__item > img {
    width: 100%;
    height: 100%;
  }

  .header-lang__arrow {
    width: 0.6vw;
    height: 0.4vw;
  }

  .btn-bid {
    gap: 0.7vw;
    padding: 0.5vw 0.5vw 0.5vw 1.5vw;
  }

  .btn-arrow {
    padding: 0.6vw;
  }

  .header-info-wrapper {
    gap: 1vw;
  }

  .header-company-wrapper {
    gap: 1.7vw;
  }

  .header-social {
    gap: 0.2vw;
  }

  .header__nav {
    gap: 0.2vw;
  }
}