@import 'vars.css';


/*HEADER WRAPPERS*/
.header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background-color: var(--color-white);
  border-radius: 1vw;
  margin-top: 1.4vw;
  margin-bottom: 88px;
  margin-inline: var(--margin-container);
}

.container {
  max-width: 1747px;
  width: 100%;
  margin: 0 auto;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
  align-items: center;
}



/*HEADER RIGHT*/
.header-company-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2.9vw;
}

.header__logo {
  display: flex;
  justify-content: space-between;
  gap: 0.8vw;
  align-items: center;
}

.header__logo > img {
  width: 4.5vw;
  height: 3vw;
}

.header__logo__name {
  font-size: 1.2vw;
  font-weight: 500;

  color: var(--color-text-secondary);
  text-transform: uppercase;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  align-content: center;
  gap: 0.4vw;
}


.header__nav__item {
  font-size: var(--text-primary);
  text-align: center;
  border: 1px solid var(--color-border);
  border-radius: 50px;
  padding: 0.6vw 1.2vw;
}


.header__nav__item:hover {
  color: var(--color-white);
  background-color: var(--color-btn);
}

/*HEADER LEFT*/

.header-info-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.2vw;
}

.header-lang__select {
  font-size: var(--text-primary);
  max-width: 6vw;
  height: 3vw;
  padding: 0.6vw;
  background-color: var(--color-white);
  border: none;
}

.header-lang__select:hover {
  transform: translateY(-0.2vw);
}

.header-lang__text {
  font-size: var(--text-primary);
}

.header-lang__arrow {
  max-width: 0.8vw;
  max-height: 0.5vw;
}

.header-info__lang {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.6vw;
}


.header-info__phone {
  font-size: var(--text-primary);
}

.header-social{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.2vw;
}

.header-social > a {
  display: flex;
  align-items: center;
}


.header-social__item {
  border-radius: 50%;
  background: var(--color-border-bg);
  width: 2.5vw;
  height: 2.5vw;
  padding: 0.6vw;
}

.header-social__item:hover {
  transform: rotate(360deg);
}

.btn-bid {
  font-size: var(--text-primary);
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  gap: 1.2vw;
  border-radius: 50px;
  padding: 0.4vw 0.4vw 0.4vw 1.2vw;
}

.btn-bid:hover {
  border: 1px solid var(--color-btn);
  color: var(--color-btn);
  background-color: var(--color-white);
}

.btn-bid:hover > img {
  transform: rotate(-135deg);
}

.btn-arrow{
  padding: 0.5vw;
  background: var(--color-white);
  border-radius: 50%;
  width: 2vw;
  height: 2vw;
}


.header-lang__text, .header-info-wrapper {
  color: var(--color-text-secondary);
}


.burger-menu {
  display: none;
}


@media (max-width: 768px) {
  .burger-menu {
    display: block;
  }

  .header__wrapper {
    padding: 5px 30px;
  }

  .header__logo > img {
    margin-right: 1rem;
    width: 50px;
    height: 30px;
  }

  .header__logo__name {
    font-size: 1rem;
  }

  .header__nav {
    display: none;
  }

  .header-info-wrapper {
    display: none;
  }
}