@import "vars.css";

.machines-wrapper {
  margin-bottom: 5vw;
}

.machines-list__wrapper{
  display: flex;
  justify-content: space-between;
  gap: 1vw;
  transform: translate3d(0px, 0px, 0px);
  transition-duration: 0ms;
}

.machines__title {
  font-size: 1.4vw;
  margin-bottom: 1.4vw;
  text-transform: uppercase;
}

.machine-list__container{
  position: relative;
  display: flex !important;
  flex-shrink: 0;
  flex-direction: column;
  gap: 1.4vw;
  background: var(--color-item-bg);
  padding: 0.8vw;
  border-radius: 1.2vw;
  width: 20vw !important;
}


.machine-list__img {
  width: 100vw;
  max-width: 100%;
  height: 12vw;
  max-height: 100%;
  background: var(--color-white);
  border-radius: 0.4vw;
}

.machine-item__describe {
  display: flex;
  flex-direction: column;
  gap: 0.8vw;
}

.machine-item__describe__info {
  display: flex;
  flex-direction: column;
  gap: 0.3vw;
}


.machine-item__describe__title {
  font-size: 0.9vw;
  color: var(--color-text-primary);
}

.machine-item__describe__characteristics {
  color: var(--color-text-primary);
  font-size: 0.7vw;
}

.machine-item__describe__characteristics > span {
  font-size: 0.7vw;
  color: var(--color-secondary);
}

.machine-price__new {
  font-size: 1vw;
}

.machine-price__old {
  margin-left: 0.2vw;
  color: var(--color-secondary);
  font-size: 0.7vw;
  text-decoration: line-through;
}

.btn-bid-machine {
  font-size: var(--text-primary);
  padding: 1.2vw;
  border-radius: 8px;
  text-align: center;
}

.btn-bid-machine:hover {
  font-weight: 600;
  transform: scale(1.01);
}

/*.slider {
  display: flex;
  flex-direction: row;
  gap: 2vw;
}*/

.extra__sale {
  position: absolute;
  top: 0.8vw;
  left: 0.8vw;
  background-color: var(--color-sale);
  padding: 0.4vw 0.8vw;
  border-radius: 4px;

  font-size: 0.7vw;
}
.extra__new {
  position: absolute;
  top: 0.8vw;
  left: 0.8vw;
  background-color: var(--color-new);
  padding: 0.4vw 0.8vw;
  border-radius: 4px;

  font-size: 0.7vw;
}