@import "vars.css";

.machines-wrapper {
  margin-bottom: 5vw;
}

.swiper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.swiper-wrapper {

}

.swiper-btnss-wrapper {
  display: flex;
  align-items: center;
  position: relative;
  margin-top: 1.5vw;
}

.swiper-btns {
  display: flex;
  margin-top: 1.5vw;
  margin-left: 1.5vw;
  position: relative;
  gap: 1.2vw;
}

.swiper-scrollbar, .swiper-scrollbar-horizontal {
  position: relative !important;
  height: 1px !important;
  background: #CDCDCD;
  border-radius: 0;
  cursor: pointer;
  bottom: 0 !important;
  left: 0 !important;
  width: 100% !important;

}
.swiper-scrollbar-drag {
  height: 2px !important;
  background: black;
}


.swiper-button-prev {
  position: relative;
  width: 1.66vw;
  height: 1.66vw;
  align-items: center;
  border-radius: 3px;
  border: 1px solid #E6E6E6;
  padding: 1.1vw;
}
.swiper-button-next {
  position: relative;
  width: 1.66vw;
  height: 1.66vw;
  border-radius: 3px;
  border: 1px solid #E6E6E6;
  padding: 1.1vw;
}

/*.machines-list__wrapper{*/
/*  display: grid;*/
/*  grid-template-columns: repeat(4, 1fr);*/
/*  gap: 1vw;*/
/*  transform: translate3d(0px, 0px, 0px);*/
/*  transition-duration: 0ms;*/
/*}*/

.machines__title {
  font-size: 1.4vw;
  margin-bottom: 1.4vw;
  text-transform: uppercase;
}

.machine-list__container{
  position: relative;
  display: flex !important;
  flex-shrink: 0;
  flex-direction: column;
  gap: 1.4vw;
  background: var(--color-item-bg);
  padding: 0.8vw;
  border-radius: 1.2vw;
  width: 20vw !important;
}


.machine-list__img {
  width: 100vw;
  max-width: 100%;
  height: 12vw;
  max-height: 100%;
  background: var(--color-white);
  border-radius: 0.4vw;
}

.machine-item__describe {
  display: flex;
  flex-direction: column;
  gap: 0.8vw;
}

.machine-item__describe__info {
  display: flex;
  flex-direction: column;
  gap: 0.3vw;
}


.machine-item__describe__title {
  font-size: 0.9vw;
  color: var(--color-text-primary);
}

.machine-item__describe__characteristics {
  color: var(--color-text-primary);
  font-size: 0.7vw;
}

.machine-item__describe__characteristics > span {
  font-size: 0.7vw;
  color: var(--color-secondary);
}

.machine-price__new {
  font-size: 1vw;
}

.machine-price__old {
  margin-left: 0.2vw;
  color: var(--color-secondary);
  font-size: 0.7vw;
  text-decoration: line-through;
}

.btn-bid-machine {
  font-size: var(--text-primary);
  padding: 1.2vw;
  border-radius: 8px;
  text-align: center;
}

.btn-bid-machine:hover {
  font-weight: 600;
  transform: scale(1.01);
}

/*.slider {
  display: flex;
  flex-direction: row;
  gap: 2vw;
}*/

.extra__sale {
  position: absolute;
  top: 0.8vw;
  left: 0.8vw;
  background-color: var(--color-sale);
  padding: 0.4vw 0.8vw;
  border-radius: 4px;

  font-size: 0.7vw;
}
.extra__new {
  position: absolute;
  top: 0.8vw;
  left: 0.8vw;
  background-color: var(--color-new);
  padding: 0.4vw 0.8vw;
  border-radius: 4px;

  font-size: 0.7vw;
}

@media (max-width: 768px) {
  .machine-item__describe__title {
    font-size: var(--media-text-primary);
  }

  .machine-item__describe__characteristics, .machine-item__describe__characteristics > span, .machine-price__new, .machine-price__old {
    font-size: var(--media-text-p);
  }

  .list-wrapper {
    display: flex;
    justify-content: center;
  }

  .machines-list__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    gap: 10px;
    align-items: start;
  }

  .machines__title {
    font-size: 20px;
  }

  .machine-list__container {
    width: auto !important;
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .machine-list__img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
  }

  .extra__sale, .extra__new {
    padding: var(--media-btn-padding-block) var(--media-btn-padding-inline);
    font-size: var(--media-text-p);
  }

  .btn-bid-machine {
    padding: var(--media-btn-padding-block) var(--media-btn-padding-inline);
    font-size: var(--media-text-p);
    width: 100%;
  }
}